@page
@model WebApp.Pages.Participants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Participant[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant[0].SocialsecurityNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant[0].CorporationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant[0].CorporationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant[0].CorporationParcitipationsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Participant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialsecurityNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorporationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorporationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorporationParcitipationsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
